@use "../abstracts";

%flexItemCenter {
    display: flex;
    align-items: center;
}

.hero {
    width: 100%;
    position: relative;
    padding-top: 44px;

    @include abstracts.screen(lg) {
        overflow: hidden;
    }

    &__inner {
        position: relative;
        @include abstracts.screen(lg) {
            display: flex;
            flex-direction: column-reverse;
        }
    }
}

.hero-content {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 49%;
    translate: -49%;
    z-index: 1;

    display: flex;
    justify-content: center;
    padding-top: 50px;

    text-align: center;
    background: #171c284a;
    border-radius: 24px;

    @include abstracts.screen(lg) {
        margin-top: 32px;
        top: -32px;
    }

    &__title {
        color: var(--primary-text-color);
        font-size: 7.2rem;
        font-weight: 700;

        @include abstracts.screen(xl) {
            width: 100%;
        }

        @include abstracts.screen(lg) {
            font-size: 4.3rem;
        }

        @include abstracts.screen(md) {
            font-size: 3.3rem;
        }

        &--color {
            background: var(--primary-color-btn);
            background: linear-gradient(
                to right,
                #39c5d7 0%,
                #cc388e 50%,
                #f15d7c 100%
            );
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.hero-container {
    position: relative;
}

.hero-slide {
    height: 500px;
    border-radius: 24px;

    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
    overflow: hidden;

    @include abstracts.screen(lg) {
        height: 418px;
    }

    @include abstracts.screen(md) {
        height: 328px;
    }

    &__item {
        width: 100%;
        height: 500px;
        object-fit: cover;

        @include abstracts.screen(lg) {
            height: 418px;
        }

        @include abstracts.screen(md) {
            height: 328px;
        }
    }
}
