<div class="container">
    <div class="header__inner">
        <a class="logo" href="./">
            <img
                src="./assets/img/logo.png"
                alt=""
                class="logo__img logo__img--black"
            />
            <img
                src="./assets/img/logo-white.png"
                alt=""
                class="logo__img logo__img--white"
            />
            <h1 class="logo__text d-xl-none d-lg-block d-md-none">
                Dana TourGuide
            </h1>
        </a>
        <!-- Nav PC -->
        <nav class="header-navbar d-lg-none">
            <ul class="header-navbar__list">
                <li class="header-navbar__item">
                    <a href="./index.html" class="header-navbar__link"
                        >Trang chủ</a
                    >
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Thành Viên</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#new" class="header-navbar__link">Tin tức</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#blog" class="header-navbar__link">Bài viết</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Về chúng tôi</a>
                </li>
                <li class="header-navbar__item">
                    <a href="#!" class="header-navbar__link">Liên hệ</a>
                </li>
            </ul>
        </nav>
        <div class="header-action">
            <a href="#!" class="header-action__link d-xxl-none">Đăng nhập</a>
            <a href="#!" class="header-action__btn btn btn--nav">Đăng ký</a>
            <a href="#!" class="d-lg-none" id="switch-theme-btn">
                <svg
                    class="icon header-action__icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 512 512"
                >
                    <path
                        d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
                    />
                </svg>
                <span class="d-none">Dark mode</span>
            </a>
        </div>
        <!-- Navigator mobile/tablet -->
        <nav class="navbar-mobile d-none d-lg-block">
            <div class="navbar-mobile__wrap">
                <button class="js-toggle" toggle-target="#navbar">
                    <img src="./assets/icons/menu.svg" alt="" />
                </button>
                <p class="navbar-mobile__text">Menu</p>
            </div>
        </nav>
    </div>
</div>

<!-- Modal: navbar mobile -->
<div>
    <div id="navbar" class="mobile hide d-none d-lg-block">
        <a class="logo__mobile" href="./">
            <img
                src="./assets/img/logo.png"
                alt=""
                class="logo__img logo__img--black"
            />
            <img
                src="./assets/img/logo-white.png"
                alt=""
                class="logo__img logo__img--white"
            />
            <h1 class="logo__text">Dana TourGuide</h1>
        </a>
        <ul class="header-navbar__list">
            <li class="header-navbar__item">
                <a href="./index.html" class="header-navbar__link">Trang chủ</a>
            </li>
            <li class="header-navbar__item">
                <a href="#!" class="header-navbar__link">Thành Viên</a>
            </li>
            <li class="header-navbar__item">
                <a href="#new" class="header-navbar__link">Tin tức</a>
            </li>
            <li class="header-navbar__item">
                <a href="#blog" class="header-navbar__link">Bài viết</a>
            </li>
            <li class="header-navbar__item">
                <a href="#!" class="header-navbar__link">Về chúng tôi</a>
            </li>
            <li class="header-navbar__item">
                <a href="#!" class="header-navbar__link">Liên hệ</a>
            </li>
            <li class="header-navbar__item">
                <a href="#!" id="switch-theme-btn">
                    <svg
                        class="icon header-action__icon"
                        xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 512 512"
                    >
                        <path
                            d="M361.5 1.2c5 2.1 8.6 6.6 9.6 11.9L391 121l107.9 19.8c5.3 1 9.8 4.6 11.9 9.6s1.5 10.7-1.6 15.2L446.9 256l62.3 90.3c3.1 4.5 3.7 10.2 1.6 15.2s-6.6 8.6-11.9 9.6L391 391 371.1 498.9c-1 5.3-4.6 9.8-9.6 11.9s-10.7 1.5-15.2-1.6L256 446.9l-90.3 62.3c-4.5 3.1-10.2 3.7-15.2 1.6s-8.6-6.6-9.6-11.9L121 391 13.1 371.1c-5.3-1-9.8-4.6-11.9-9.6s-1.5-10.7 1.6-15.2L65.1 256 2.8 165.7c-3.1-4.5-3.7-10.2-1.6-15.2s6.6-8.6 11.9-9.6L121 121 140.9 13.1c1-5.3 4.6-9.8 9.6-11.9s10.7-1.5 15.2 1.6L256 65.1 346.3 2.8c4.5-3.1 10.2-3.7 15.2-1.6zM160 256a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zm224 0a128 128 0 1 0 -256 0 128 128 0 1 0 256 0z"
                        />
                    </svg>
                    <span class="d-none">Dark mode</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="mobile__overlay js-toggle" toggle-target="#navbar"></div>
</div>
